<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coronavirus Tracker Application</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<body>
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">Coronavirus Tracker</h1>
            <p class="lead">This application lists the current number of reported cases across the globe.</p>
            <h1 class="display-4" th:text="${totalReportedCases}"></h1>
            <p>Total cases reported as of today</p>
            <hr class="my-4">
            <p>
                <span>New cases reported since previous day: </span>
                <span th:text="${totalNewCases}"></span>
            </p>
        </div>
    </div>
    <div class="container">
        <table class="table">
            <tr>
                <th>State</th>
                <th>Country</th>
                <th>Total cases reported</th>
                <th>Changes since last day</th>
            </tr>
            <tr th:each="locationStat : ${locationStats}">
                <td th:text="${locationStat.state}"></td>
                <td th:text="${locationStat.country}"></td>
                <td th:text="${locationStat.latestTotalCases}">0</td>
                <td th:text="${locationStat.diffFromPrevDay}">0</td>
            </tr>
        </table>
    </div>
</body>
</html>